<nb-card>
  <nb-card-header>
    <h3>Iniciar Sesión</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="submit($event)">
      <input
        formControlName="email"
        fullWidth
        nbInput
        id="email"
        name="email"
        type="email"
        placeholder="Ingresa tu correo electrónico"
      />
      <nb-form-field>
        <input
          formControlName="password"
          fullWidth
          nbInput
          id="password"
          name="password"
          [type]="getInputType()"
          placeholder="Ingresa tu contraseña"
        />
        <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
          <nb-icon
            [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
            pack="eva"
            [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
          </nb-icon>
        </button>
      </nb-form-field>
      <button nbButton status="primary" type="submit">Ingresar</button>
    </form>
  </nb-card-body>
</nb-card>
